/* 重置浏览器默认样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
  background: #f5f0e1;
  /* 默认背景颜色 */
  color: #51382a;
  height: 100%;
}

body {
  background-image: url(https://bpic.588ku.com/back_pic/06/16/00/0062ac12ee5a0c2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 100%;
}

/* 其他选择器... */

@media (max-width: 768px) {
  nav ul li {
    margin: 5px 0;
  }

  section,
  .footer-content {
    margin: 1rem;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
  }
}

h1,
h2 {
  position: fixed;
  bottom: 10px;
  left: 0;
  margin: 0;
  padding: 1rem;
  /* 添加内边距以提供一些空间 */
  color: #9b4f1ff6;

}

h1 {
  font-size: 2rem;
  bottom: 80px;



}

h2 {
  font-size: 1.5rem;
  bottom: 40px;

}
