---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Menu from '../components/Menu.astro'
import Footer from "../components/Footer.astro"
import MusicPlayer from "../components/MusicPlayer.astro"
import "./styles/global.css";
---
<Layout title="成因分析">
	<main>
		<svg>	···
    </svg>
		<Menu/>
		<Footer />
    <MusicPlayer />
    
    <h1>成因分析</h1>
    <p>在这个页面，将展示一些关于心理健康疾病的成因分析</p>
    </main>

    <div class="link-card-grid">
      <a href="/md/13" class="link-card">成因分析</a>

    </div>

    <style>
       body {
      background-image: url(https://bpic.588ku.com/back_pic/06/15/99/7162ab49aa648b3.jpg);
      background-size: cover;
      background-position: center;
      margin: 0;
      padding: 20px;
      font-family: 'Arial', sans-serif;
    }

    /* 导航条样式 */
    .nav {
      background-color: #f5cda9;
      color: #5a3b21;
      padding: 10px 0;
      text-align: center;
      width: 100%; /* 导航条宽度充满整个屏幕 */
    }
    .nav a {
      color: #5a3b21;
      text-decoration: none;
      padding: 10px 15px;
      margin: 0 10px; /* 导航链接之间的外边距 */
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
    }
    .nav a:hover,
    .nav a.active {
      background-color: #a67c52;
      color: #ffffff;
    }

    /* 链接卡片样式 */
    .link-card {
      display: inline-block;
      background-color: #f5e4b388;
      color: #333;
      text-decoration: none;
      padding: 10px 20px;
      margin: 30px 0; /* 调整为只添加上下外边距 */
      border-radius: 5px;
      transition: background-color 0.3s, transform 0.3s;
    }
    .link-card:hover {
      background-color: #e0a80006;
      transform: translateY(-2px);
    }

    /* 链接卡片容器样式 */
    .link-card-grid {
      display: flex;
      flex-direction: column; /* 垂直排列 */
      gap: 1rem; /* 卡片之间的间距 */
      align-items: center; /* 居中对齐 */
    }

    /* 段落样式调整 */
    p {
      font-size: 1em;
      color: #555;
      line-height: 1.6;
      margin-bottom: 1.5em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      max-width: 800px;
      padding: 0 20px;
    }
    </style>