<meta charset="UTF-8">
<div>
  <img src="https://www.renwuji.com/wp-content/uploads/images/2022/12/28/3a6940923f21457089801b5ffe6e2319~noop_t2i0w23yg3o.jpg" 
  alt="蜀道之难，难于上青天，使人听此凋朱颜！"
  />
<p>蜀道之难，难于上青天，使人听此凋朱颜！</p>
<p>《蜀道难》</p>
<p>李白</p>
<p>天宝初年</p>
</div>

<style>
  img {
    width: 300px;
  }
</style>