---
---
<a href="/">首页</a>
<a href="/about/">关于</a>
<a href="/blog/">博客</a>
<a href="/notes/">笔记</a>




<style>
  a {
    color: black;
    text-decoration: none;
    margin: 5px;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
  }
  
  a:hover {
    text-decoration: underline;
    background-color: blue;
  
  }
  </style>